/*Example 2.3*/
.map {
    border: medium solid black;
    border-width: 1px;
}

.gratLines {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
}

.gratBackground {
    fill: mintcream;
}

.regions {
    fill: sandybrown;
    stroke:whitesmoke;
    stroke-width: 0.5px;
}

.numbers {
    fill: white;
    font-family: sans-serif;
}

.chart {
    float: right;
    margin: 7px 20px 0 0;
}

.chartTitle {
    font-family: serif;
    font-size: 1.5em;
    font-weight: medium;
}

.chartBackground {
    fill: mintcream;
}

.chartFrame {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9 em;
    fill: darkred;
}

.dropdown {
    font-size: 1em;
    font-weight: medium;
    font-family: serif;
    padding: 2px;
    border: 0.5px solid black;
    box-shadow: 2px 2px 2px;

}

option {
    font-weight: normal;
}

.country {
    fill:#faf7d4;
    stroke: grey;
    stroke-width: 0.25px;
}

.infolabel h1 {
    margin: 0 20px 0 0;
    padding: 0;
    display: inline-block;
    line-height: 0.8em;
}

.infolabel {
    margin: 0 20px 0 0;
    position: absolute;
    height: 50px;
    min-width: 100px;
    color: #fff;
    background-color: grey;
    border: solid thin #fff;
    padding: 5px 10px;
    top: -75px;
}